*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.top{
    display: flex;
    padding-top:8px;
    background-color: brown;
    padding-bottom:8px;
}
.top_left{
    width: 50%;
    position: relative;
    color: #ffffff;
}
.top_left img {
    width: 18%;
    margin-left: 20%;
}
.top_left .logo1{
    position: absolute;
    top:35%;
    font-size: 22px;
    font-family: 华文隶书;
    margin-left: 5%;
}
.top_left .logo2{
    position: absolute;
    top:58%;
    font-size: 22px;
    font-family: 华文隶书;
    margin-left: 2%;
}
.top_right{
     width: 50%;
 }
.top_right ul{
    padding-top:7%;
    margin-left: 15%;
    display: flex;

}
.top_right ul li{
    flex:1;
    margin-right: 10px;
    color: #fff;
    height: 30px;
    line-height: 30px;

}
.top_right ul li:last-child{

    flex: 2;
    padding-left: 100px;

}
.top_right a{
    text-decoration: none;
}
.top_right ul li p{
    color: #fff;

    background-color: #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    top: -5px;
}
.top_right ul li p img{
    width: 75%;
    margin-top: 5px;
    margin-left:5px;
}
.middle{
    height: 450px;
    background-image: url(../img/banner.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px solid #fff;
}
.box{
    background-color: rgba(0,0,0,.5);
    width: 40%;
    height: 200px;
    margin-left: 29%;
    margin-top: 120px;
    color: #fff;
}
.box .box_top{
    margin: 0 auto;
    width: 120px;
    background-color: #5fb1b2;
    text-align: center;
    height: 48px;
    line-height: 48px;
    color: #fff;
}
.box_content{
    width: 90%;
    margin: 20px auto;
}
.box_content .input{
    height: 30px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #fff;
}
.box_content button{
    width: 25%;
    margin-left: 15px;
    height: 30px;
    border: 1px solid #9cd091;
    border-radius: 5px;
    background-color: #9cd091;
    color: #fff;

}
.box p{
    width: 80%;
    margin: 50px auto;

}
.content .content_box{
    margin: 20px auto;
    width: 80%;
    height: 300px;
    display:flex;
}
.content .content_box .content_box1{
    width: 40%;
    background-color: #5fb0b1;
    height: 300px;
    margin-right: 3%;
    overflow: hidden;
}

.main {
    width: 100%;
    overflow: hidden;
}
.nav {
    width: 100%;
    height: 40px;
}
.nav li {
    float: left;
    width: 25%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #ffffff;
}

.changeColor {
    background: #9cd091;
}

.banner {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.banner-slide {
    height: 260px;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 20px;
    /*position: absolute;*/
}

.slide1 {
    background-image: url("../img/1.jpg");
    -webkit-background-size:cover;
    background-size:cover;
}
.slide2 {
    background-image: url("../img/2.jpg");
    -webkit-background-size:cover;
    background-size:cover;
}
.slide3 {
    background-image: url("../img/3.jpg");
    -webkit-background-size:cover;
    background-size:cover;
}
.slide4 {
    background-image: url("../img/2.jpg");
    -webkit-background-size:cover;
    background-size:cover;
}

#tab { width:412px; height:300px; position:relative;margin:0 auto 0 auto; overflow: hidden}
/*设置容器高宽等*/
html > body #tab { width:412px;}
/*兼容IE6:IE6下宽度不够*/
#tab div { position:absolute; top:30px; left:0; width:412px; height:186px;}
/*设置容器高宽等*/
#tab div { display:none;}
/*设置容器默认隐藏:不用ID是因为下面将利用class来控制容器显示,而class优先级低于id选择器*/
#tab .block { display:block;}
/*选中的容器*/
#tab h3 { float:left; width:103px; height:40px; line-height:40px; margin:0 0 0 0; font-size:12px; cursor:pointer; background-color:#c5c5c5; text-align:center; color:#5a5a5a; font-family:Microsoft YaHei;font-weight:normal;}
/*默认标题样式*/
#tab .up { background:#0292cf;color:#fff;}
/*选中的标题样式*/
/*修饰列表内容*/
#tab ul { list-style:none; padding:0; height:186px; margin-top:10px;}
#tab li { margin-left:10px; margin-right:10px; border-bottom:1px dotted #c6c6c6; height:22px; padding-top:12px; overflow:hidden; font-size:12px;}
#tab li a { display:inline; font-size:12px; text-decoration:none; text-indent:10px; margin-right:10px;}
#tab li span{ display:block; float:right; margin-right:5px; color: #bdacb3;}
a.tab_title:link { color: #5a5a5a; text-decoration:none;}
a.tab_title:visited { color:#5a5a5a; text-decoration:none;}
a.tab_title:hover { color:#5a5a5a; text-decoration:none;}
a.tab_title:active { color:#5a5a5a; text-decoration:none;}
a.tab_menu:link { color:#6464d5; text-decoration:none;}
a.tab_menu:hover { color:#8888e0; text-decoration:underline;}
.content .content_box .content_box3{
    width: 500px;
    height: 300px;
    margin-left: 3%;
    display: flex;
    flex-wrap:wrap;
    padding: 15px 0;
    background-color: #5fb1b2;
    overflow: hidden;
    box-sizing: border-box;
    justify-content:center;

}
.content_box3 div{
    width: 100px;
    height: 80px;
    margin: 5px;
    text-align: center;
    background-color: burlywood;
}
.content_box3 div img{
    width: 100%;
    height: 100%;
}

.footer{
    text-align: center;
    background-color: #323232;

}
.footer img{
    width: 65%;
    background-color: #323232;
    border: #323232;
    vertical-align: top;

}
.copyright{
    text-align: center;
    font-size: 11px;
    padding: 2px;
}
