*{
    margin:0;
    padding: 0;
    list-style: none;
}
body{
    background-image: url(../img/bgimg.jpg);
}
.top{
    height: 30px;
    background-color: #273751;
}
.title{
    margin-top:5px;
    position: relative;
}
.title img{
    width: 7%;
    margin-left: 16%;

}
.title .logo1{
    position: absolute;
    top:35%;
    font-size: 22px;
    font-family: 华文隶书;
    margin-left: 35px;
}
.title .logo2{
    position: absolute;
    top:58%;
    font-size: 22px;
    font-family: 华文隶书;
    margin-left: 10px;
}
.login_content{
    height: 700px;
}
.login_box{
    width: 350px;
    background-color: rgba(0,0,0,.5);
    margin: 90px auto  ;
    border-radius: 10px;
    padding-bottom: 50px;
}
.login_title{
    color: #fff;
    text-align: left;
    padding: 30px 20px 0px 20px;
    font-size: 20px;
}
.login_input{
    display: flex;
    padding: 10px 20px;
    height: 50px;
    margin-top:20px;

}
.login_img{
    width: 25%;
    background-color: #999;
    text-align: center;
    border-radius: 5px 0 0 5px;

}
input{
    width: 90%;
    border-radius: 0 5px 5px 0;
    border: 1px solid #999;
    padding-left: 5%;

}
.login_input img{
    width: 60%;
    padding-top: 5%;
    padding-left: 5px;
}
button,.button{
    width: 87%;
    height: 40px;
    border: 1px solid #1172c4;
    border-radius: 5px;
    background-color: #1172c4;
    color: #fff;
    font-size: 16px;
    /*margin-top: 15px;*/
    margin-left: 20px;
    margin-top:30px;
    margin-bottom:20px;
}
.login_footer{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}
.login_footer a{
    color: #ffffff;
    text-decoration: none;
}
.footer{

    width: 100%;
    height: 40px;
    background-color: #273751;
}
.footer p{
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}
